@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-image: #1e1e2e;
}

ul {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: row;
    row-gap: 0px;
    column-gap: 0px;
}

.item {
    padding: 0;
}

.item img{
    position:relative;
}

a {
    display: block;
    color: #FFFFFF;
    border-radius: inherit;
}

li {
    list-style: none;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    padding-left: 50px;
    justify-content: center;
    color: red;
    font-family: "Inter", sans-serif;
    margin-top: 80px;
    font-weight: 600;
}

.conteudo img {
    height: 360px;
    width: 235px;
    border-radius: 10px;
    object-fit: cover;
}

.tooltip-text {
    position: absolute;
    top: -0px;
    left: -0px;
    z-index: 5;
    width: 300px;
    color: white;
    background-color: #0000009d;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

#fade {
    display: none;
    height: 360px;
    width: 235px;
    transition: opacity 0.5s;
}

#delay {
    display: none;
    transition: opacity 0.2s;
    transition-delay: 1s;
}

.hover-text:hover #fade {
    display: flex;
}

.hover-text:hover #delay {
    display: flex;

}


.hover-text {
    position: relative;
    display: inline-block;
    margin: 40px;
    font-family: Avenir;
    text-align: center;
}